<div class="jumbotron">
    <h1>Celebrate!</h1>
    <h3>20th of August 2018</h3>
    <p>The wedding ceremony will be at 2pm</p>
</div>
<p>Guests should arrive from 1pm.  The ceremony will be followed by reception drinks and wedding breakfast.</p>
<h2>Wedding Breakfast</h2>
<p>Close family members and friends will be invited to join us for a meal after the wedding ceremony.</p>
<p>If you have any special dietary requirements please let us in advance.</p>
<h2>Evening Reception</h2>
<p>Evening guests should arrive from 7.30pm.</p>
<p>There will be evening hot sandwiches and chips.</p>