<h1>Accomodation</h1>

<p>We recommend that you stay at Chancellors Hotel however there are lots of options available.</p>
<div class="jumbotron">
    <h2>Booking Code</h2>
    <p>
    The code will be revealed as soon as we receive the wedding pack</p>
    <p>You will receive a discount if you use the booking code for our wedding. This helps the venue to keep wedding guests together.</p>
</div>
<h3>Other Options</h3>
<ul>
    <li><a href="https://www.marriott.co.uk/hotels/travel/mangs-worsley-park-marriott-hotel-and-country-club/">Worsley Marriot</a></li>
</ul>