<h1>RSVP</h1>
<p class="lead">Please respond before the 29th of June so that we can make arrangments with the hotel.
</p>
<p>
    You can RSVP by email or post however it may be better to use email because there's no delay. Email
    <a href="mailto:briandangerous@gmail.com?Subject=Wedding%20RSVP">Brian</a> or
    <a href="mailto:winterhalder84@gmail.com?Subject=Wedding%20RSVP">Laura</a>, giving details of the numbers and any special requirements.
</p>
<p>
    If you would like to RSVP by post, use the following address.
</p>
<div class="row">

    <div class="jumbotron col-md-6">
        <h3>Postal Address</h3>
        <address>
            Laura and Brian,
            <br/> Apartment 167 Advent 2/3,
            <br/> 1 Isaac Way,
            <br/> Manchester M4 7EE
            <br/>
        </address>
    </div>
</div>
<p>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    Include your favourite song when you RSVP and we will try to include it in the playlist.
</p>