<h1>RSVP</h1>
<p>
    We could like you to RSVP by emailing
    <a href="mailto:briandangerous@gmail.com?Subject=Wedding%20RSVP">Brian</a>, say who is coming in your group and any special dietary requirements. We need to know exact numbers before the
    end of July so that we can confirm details with the hotel.
</p>
<p>
    If you would rather send your RSVP by post, use the following address.
</p>
<div class="jumbotron">
    <h3>Postal Address</h3>
    <address>
        Laura and Brian,
        <br/> Apartment 167 Advent 2/3,
        <br/> 1 Isaac Way,
        <br/> Manchester M4 7EE
        <br/>
    </address>
</div>
<p>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    Include your favourite song when you RSVP and we will try to include it in the playlist.
</p>