<h1>RSVP</h1>
<p>
    We could like you to RSVP by emailing <a href="mailto:briandangerous@gmail.com?Subject=Wedding%20RSVP">Brian</a>, giving details of the numbers and any special requirements. 
    We need to know exact numbers before the end of July so that confirm details with the hotel.
</p>
<p>
    If you would rather send your RSVP by post, use the following address.
</p>
<div class="jumbotron">     
    <h3>Postal Address</h3>
    <address>
        Laura and Brian,<br/>
        Apartment 167 Advent 2/3,<br/>
        1 Isaac Way,<br/>
        Manchester  M4 7EE<br/>
    </address>
</div>
